@import 'variable';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
a{
    text-decoration: none;
    transition: .3s;
}
li{
    list-style: none;
}
img{
    max-width: 100%;
    vertical-align: middle;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.h-100{
    height: 100vh;
}
// Background-Image css
.bg{
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   z-index: 2;
   &:before{
    content: "";
    position: absolute;
    left:0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #333;
    opacity: .77;
    z-index: -1;
   }

}
// title-text-center css
.bg-text-center{
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
}
.common-section-title{
    h1{
        font-size: 45px;
        position: relative;
        display: inline-block;
        &::before{
            content: "";
            position: absolute;
            width: 70px;
            background-color: #ff3636;
            height: 2px;
            bottom: -5px;
            left: 60px;
          }

          &::after{
              content: "";
              position: absolute;
              height: 10px;
              width: 10px;
              background-color: $primary_colour;
              border-radius: 50%;
              bottom: -9px;
              left: 92px;
            }
        }
          p{
              color: #777;
          }
        }

// text-align
$text-align : start, center, end, justify;
@each $i in $text-align{
    .text-#{$i}{
        text-align: $i;
    }
}

// text-transform
$text-transform : lowercase, capitalize, uppercase;
@each $i in $text-transform{
    .text-transform-#{$i}{
        text-transform: $i;
    }
}

// margin
@for $i from 1 through 20{
    .margin-#{$i *5}{
        margin: $i * 5px;
    }
    .mt-#{$i * 5}{
        margin-top: $i * 5px;
    }
    .mb-#{$i * 5}{
        margin-bottom: $i * 5px;
    }
    .ml-#{$i * 5}{
        margin-left: $i * 5px;
    }
    .mr-#{$i * 5}{
        margin-right: $i * 5px;
    }
}
// padding

@for $i  from 1 through 20{
    .padding-#{$i * 5}{
        padding: $i * 5px;
    }
    .pt-#{$i * 5}{
        padding-top: $i * 5px;
    }
    .pb-#{$i * 5}{
        padding-bottom: $i * 5px;
    }
    .pl-#{$i * 5}{
        padding-left: $i * 5px;
    }
    .pr-#{$i * 5}{
        padding-right: $i * 5px;
    }
}
// colors

$colors: white, black, red, green;

@each $color in $colors {
  .text-#{$color} {
    color: $color;
  }
}
$background:  white, red, black;
@each $i in $background{
    .bg-#{$i}{
        background-color: $i;
    }
}
// common btn

.btn {
	display: inline-block;
	font-size: 25px;
	color: #fff;
	padding: 10px 30px;
	text-transform: capitalize;
    font-size: 16px;
    transition: .3s;
    
    &.btn-primary{
        background-color: $primary_colour;
    }
    &:hover{
        background-color: #333;
    }
}