$flex: flex, inline-flex;
@each $i in $flex{
    .d-#{$i}{
        display: $i;
    }
}
$direction: row, row-reverse, column, column-reverse;
@each $i in $direction{
    .flex-direction-#{$i}{
        flex-direction: $i;
    }
}
$justify: start, center, end, evenly, space-around, space-between;
@each $i in $justify{
    .justify-content-#{$i}{
        justify-content: $i;
    }
} 

$align-items: start, center, end, stretch, baseline;
@each $i in $align-items{
    .align-items-#{$i}{
        align-items: $i;
    }
}